Package: poplog
Version: 16.1
Section: development
Priority: optional
Architecture: amd64
Depends: gcc, build-essential, libc6, libncurses5, libncurses5-dev, libstdc++6, libxext6, libxext-dev, libx11-6, libx11-dev, libxt-dev, libmotif-dev
Recommends: espeak
Suggests: xterm, tcsh
Maintainer: sfkleach@gmail.com
Description: Poplog development environment
 Poplog is an Open Source, reflective, incrementally compiled software development environment for the programming languages POP-11, Common Lisp, Prolog, and Standard ML, originally created in the UK for teaching and research in Artificial Intelligence at the University of Sussex, and later marketed as a commercial package for software development as well as for teaching and research. It was one of the initiatives supported for a while by the UK government-funded Alvey Programme.
